*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.container{
    width: 100%;
    height: 100vh;
    min-width: 700px;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    
}

.container h1{
    display: flex;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: white;
}

.container h1 img{
    width: 100px;
    margin-right: 10px;
}

.container button{
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background: linear-gradient( #9418fd,#571094);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color:white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.container button img{
    width: 30px;
    margin-right: 10px;
}