*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.container{
    width: 100%;
    height: 200vh;
    min-width: 100px;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    
}

.container h1{
    display: flex;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: white;
}

.container h1 img{
    width: 100px;
    margin-right: 10px;
}

.container button{
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background: linear-gradient( #9418fd,#571094);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color:white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.container button img{
    width: 30px;
    margin-right: 10px;
}
.notes-list{
    margin: 20px 50px;
    width: 100%;
    border-radius: 20px;
    max-width: 500px;
    min-height: 150px;
    background: white;
    padding: 15px;
    outline: none;
    position: relative;
}
.notes-list img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    cursor: pointer;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    .container h1 {
        font-size: 28px;
        padding: 20px;
    
       
    }

    .container h1 img {
        width: 70px;
        margin: 0 0 10px 0;
    }

    .container button {
        margin: 20px ;
        font-size: 15px;
        padding: 8px 12px;
        
    }

    .notes-list {
        margin: 20px auto;
        width: 90%;
        max-width: none;
        padding: 15px;
        font-size: 16px;
    }

    .notes-list img {
        top: 15px;
        right: 15px;
        width: 20px;
    }
}
